*.iml
.gradle
/local.properties
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
classes/
tmp/
project.properties
.DS_Store
/captures
.externalNativeBuild
R.txt
aapt/
classes.jar
build/
json2view/build/
